.alert {
  margin: 0 20px;
}

.alert .alert-header {
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.alert .alert-body {
  border: 1px solid;
  border-radius: 0 0 5px 5px;
  padding: 12px 20px;
}

.alert-danger .alert-header {
  background-color: #F87171;
}
.alert-danger .alert-body {
  background-color: #FEE2E2;
  color: #F87171;
  border-color: #F87171;
}

.alert-success .alert-header {
  background-color: #38b2ac;
}

.alert-success .alert-body {
  background-color: #e6fffa;
  color: #38b2ac;
  border-color: #38b2ac;
}